
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --bg:#000000;
  --accent:#ceb191;
  --heavyaccent:#c9ab6a;

}
*{
  font-family: "Cormorant Garamond";
  padding: 0;
  margin: 0;


}
body{
  background-color: var(--bg);
  
}

p{
  font-family: 'Roboto';
  font-size: 1.3em;
}

@media  screen and (orientation:portrait) {
  p{
    font-size:1.2em;
  }
}

#bodi{
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}





#innerbody{
  width: 96%;
  height: 96%;
}